In [9]:
a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))


if(a > b) :
    if(a > c): 
        if (b > c ):
            print(a , b , c )
        else : 
            print(a  , c , b)
    else : 
        print(c , a , b )
else : 
    if(b > c ):
        if(a > c) : 
            print(b , a , c) 
        else : 
            print(b , c , a )
    else : 
        print(c , b , a )

10 8 5

In [22]:
list = [1 , 2 , 3 , 4 , 10 , 24 , 15 , 16 , 64 , 32 , 53 ] 
len(list)
type(list)
list[2] = 10
list[:3]
list[3:]
# list[1:3]

[4, 10, 24, 15, 16, 64, 32, 53]

In [30]:
a = list.copy()
a
a[0] = 12
a , list

([12, 2, 10, 4, 10, 24, 15, 16, 64, 32, 53],
 [1, 2, 10, 4, 10, 24, 15, 16, 64, 32, 53])

In [37]:
sum(list)
max(list)
min(list)
len(list)

11

In [50]:
a.index(2)
a.extend([[2 ,  5 , 6]])
# a.insert(2 , 'a')
a

[12,
 2,
 'a',
 'a',
 'a',
 10,
 4,
 10,
 24,
 15,
 16,
 64,
 32,
 53,
 2,
 5,
 6,
 2,
 5,
 6,
 [2, 5, 6],
 [2, 5, 6],
 [2, 5, 6],
 [2, 5, 6],
 [2, 5, 6],
 [2, 5, 6]]

In [62]:
a = [2 , 4 , 6 , 8, 10 ]

for i in a : 
    print(i)

2
4
6
8
10

In [67]:
list = ["ali" , "amin" , "mehdi"]
list.append("hossein")
list
for i in list : 
    print(i)

ali
amin
mehdi
hossein

In [73]:
a = [2 , 3 ,4 ,5]
value = 2 
for i in a : 
    value *= i
    print(value)
print(a)

4
12
48
240
[2, 3, 4, 5]

In [79]:
a = [2 , 3 ,4 ,5]
for i in range(0 , 4) : 
    a[i]= a[i] * 2 
print(a)

[4, 6, 8, 10]

In [83]:
a = [2 , 3 , 4 ,5 ]
for i in range(len(a)): 
    a[i] = a[i] * 2 
print(a )

[4, 6, 8, 10]

In [86]:
for i , j in enumerate(a): 
    print(i , j)

0 4
1 6
2 8
3 10

In [99]:
a = [ 1 ,2 ,3 ,4 ]

for i , j in enumerate(a):
   a[i] *= j 
   print(j)
print(a)

1
2
3
4
[1, 4, 9, 16]

In [117]:
a = [1 , 2 , 3 , 4 ]
b = [5 , 6 , 7 , 8 ]
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [112]:
a * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [114]:
if 3 in a : 
    print(a)

[1, 2, 3, 4]

In [120]:
if not 3 in a :
    print(b )
else : 
    print(a)

[1, 2, 3, 4]

In [137]:
tuple = (1 , 2 , 2  , 2 ,3 ,4 )
list = ['ali', 'amin', 'mehdi', 'hossein']

list.count("ali")
tuple.count(2)

3

In [140]:
a = {"salam " : 1 , "b" : 2 , "c" : 4}
a

{'salam ': 1, 'b': 2, 'c': 4}

In [146]:
a.keys()
a.values()

dict_values([1, 2, 4])

In [150]:
a['salam ']

1

In [155]:
a = {"salam " : 1 , "b" : 2 , "c" : 4}
del(a["salam "])

In [156]:
a

{'b': 2, 'c': 4}

In [159]:
a = {
    "a" : 1 , 
    "b" : 2 , 
    "c" : 3 
}
a

{'a': 1, 'b': 2, 'c': 3}

In [161]:
a.update({"d" : 2  , "f" : 3 })

In [167]:
for i in a.values(): 
    print(i)

1
2
3
2
3

# Examples

In [14]:
string = ['s' , 'a' , 'l' , 'a' , 'm']
lifes = 5
guesses = []
is_finished = False 

while lifes > 0  and not is_finished:
    
    is_finished = True 
    for char in string : 
        if char in guesses : 
            print(char , end ='')
        else : 
            print("*" , end="")
            is_finished = False 
        
    if is_finished : 
        break 
    print()
    new_char = input()
    if new_char in string : 
        print("Correct")
        guesses.append(new_char)
    else : 
        print("wrong!")
        lifes -= 1 
if is_finished : 
    print()
    print("you won")
else : 
    print("you lost , the string was" , string) ;

*****
Correct
*a*a*
Correct
sa*a*
Correct
sala*
Correct
salam
you won

In [15]:
a = {
    "Hello" : "Hello User , How Can I do For You?", 
    "IDK" : "Do you want to show you mylist?"
}
while True : 
    i = input("enter I : ")
    if i == "-1": 
        print("End ")
        break
    if i in a.keys(): 
        print("it's there")
    else : 
        print("Nemidoonam Kojast")
        print("MIJHAYE KHODAT BEGI?")
        yesNo = int(input("Enter Yes/NO :(1 / 0)"))
        if yesNo == 1 :
            answer = input("enter Your answer : ")
            if answer: 
                print("You want " , answer)

it's there
End

In [13]:
list = [2 , 5 , 10]
count = 0 
for i in range(0 , len(list)):
    count += list[i]
count

17

In [30]:
list = [10 , 0-15 , 20 , 25 , 30 , 35 , 40]
for i in range(0 , len(list)): 
    if list[i] % 15 == 0 and list[i] > 0 : 
        print(list[i])
    else:
        continue

30

In [48]:
list = []
while True : 
    n = input("enter N : ")
    if n == '-1': 
        print("-----End-----")
        list.append('')
        break
    list.append(n)

print(max(list))

-----End-----

In [82]:
list = [2 , 2 , 3 ]
for i in range(0 , len(list)):
    print(i == i)

True
True
True

amin